body {
	background-color: #EEEEEE;
	background-image: url(light_gray_wool.png);
	font-family: minecraft;
}

a {
	text-decoration: none;
}

#aesthetic {
	background-image: url(light_gray_wool.png);
	width: 1500px;
	margin-left: auto;
	margin-right: auto; 
}

#utility {
	background-image: url(light_gray_wool.png);
	width: 1500px;
	margin-left: auto;
	margin-right: auto; 
}

#diamondrecolors {
	background-image: url(light_gray_wool.png);
	width: 1500px;
	margin-left: auto;
	margin-right: auto; 
}

#classic {
	background-image: url(light_gray_wool.png);
	width: 1500px;
	margin-left: auto;
	margin-right: auto; 
}

#title {
	font-family: 'minecraft';
	src: url(fonts/MinecraftBold-nMK1.otf);
	font-style: normal;
	font-weight: 100;
}

@font-face{
	font-family: 'minecraft';
	src: url(fonts/MinecraftBold-nMK1.otf);
	font-style: normal;
	font-weight: 80;
	font-size: 20;
}
